body {
  background-color: rgb(127, 255, 212);
}

div {
  background-color: #dbeb89;
}

div:hover {
  background-color: rgba(0, 128, 0, 0.2);
}

.grid {
  background-color: black;
}

.player-one {
  background-color: #1113a7ab;
}

.player-two {
  background-color: #6c7f21;
}
